#main-nav {
    display: flex;
    background-color: aquamarine;
}

.navbar-name {
    /* display: block; */
    width: 240px;
    float: left;
    border: 1px solid;
    font-size: 2.5em;
    text-align: center;
    padding-top: 0.7rem;
}

.navbar-name a {
    padding: auto;
}

.navbar-category {
    display: inline;
    flex: auto;
    border: 1px solid;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline;
    border: 1px solid;
    padding-left: 1rem;
    padding-right: 1rem;
}

li a {
    font-size: 1.5em;
}

li span {
    font-size: 2em;
}

#about {
    border: 1px solid;
    width: 100%;
}

#publications {
    border: 1px solid;
    width: 100%;
}

#CV {
    border: 1px solid;
    width: 100%;
}

#projects {
    border: 1px solid;
}

#contact {
    border: 1px solid;
}

#aboutContents {
    text-align: center;
}

.bodyContents {
    padding-left: 17rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#aboutImgDiv {
    border: 1px solid;
}

#publicationsTop {
    font-size: 1.5em;
}

#publicationsMain {
    font-size: 3em;
}

#CVTop {
    font-size: 1.5em;
}

#CVMain {
    font-size: 3em;
}

#projectsTop {
    font-size: 1.5em;
}

#projectsMain {
    font-size: 3em;
}

#contactTop {
    font-size: 1.5em;
}